* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, royalblue, cornflowerblue);
}
header {
  height: 10vh;
  font-family: 'Roboto', sans-serif;
}
header div {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div h1 {
  letter-spacing: 0.05rem;
}
header div nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div nav a:hover {
  opacity: 0.75;
}
header div nav button {
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 0.75rem;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: royalblue;
  cursor: pointer;
}
header div a {
  text-decoration: none;
  color: whitesmoke;
}
@media (max-width: 1024px) {
  header div {
    width: 90%;
  }
}
@media (max-width: 800px) {
  header div nav {
    width: 40%;
  }
}
@media (max-width: 500px) {
  header div nav {
    width: 55%;
  }
}
@media (max-width: 350px) {
  header div nav {
    width: 65%;
  }
}
main {
  height: 70vh;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main div {
  width: 40%;
}
main div h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
main div p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
main div button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.75rem;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: royalblue;
  cursor: pointer;
}
main div button:hover {
  opacity: 0.75;
}
main img {
  width: 60%;
}
@media (max-width: 1024px) {
  main {
    width: 90%;
  }
}
@media (max-width: 500px) {
  main {
    flex-direction: column;
    justify-content: space-evenly;
  }
  main div {
    width: 100%;
  }
  main div h2 {
    font-size: 1.75rem;
  }
  main img {
    width: 100%;
  }
}
@media (max-width: 350px) {
  main {
    height: 90vh;
  }
}
.second-section {
  height: 70vh;
  background: whitesmoke;
  font-family: 'Roboto', sans-serif;
  color: #09091a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section div {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-section div h2 {
  width: 40%;
  font-size: 2rem;
}
.second-section div img {
  width: 60%;
}
@media (max-width: 1024px) {
  .second-section div {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .second-section div {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .second-section div h2 {
    width: 100%;
    text-align: center;
  }
  .second-section div img {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .second-section {
    height: 90vh;
  }
}
.third-section {
  height: 70vh;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section div {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-section div h2 {
  width: 40%;
  font-size: 2rem;
}
.third-section div img {
  width: 60%;
}
@media (max-width: 1024px) {
  .third-section div {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .third-section div {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .third-section div h2 {
    width: 100%;
    text-align: center;
  }
  .third-section div img {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .third-section {
    height: 90vh;
  }
}
.fourth-section {
  height: 70vh;
  background: whitesmoke;
  font-family: 'Roboto', sans-serif;
  color: #09091a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fourth-section div {
  display: flex;
}
.fourth-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.fourth-section button {
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.75rem;
  background-color: royalblue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: whitesmoke;
  cursor: pointer;
}
.fourth-section button:hover {
  opacity: 0.75;
}
.fourth-section img {
  margin: 0.5rem;
}
@media (max-width: 350px) {
  .fourth-section {
    height: 90vh;
  }
  .fourth-section div:last-child {
    display: flex;
    flex-direction: column;
  }
}
footer {
  height: 20vh;
  background-image: linear-gradient(to right, #09091a, #222233);
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer .logo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .logo div {
  display: flex;
  align-items: center;
}
footer .footer .logo div img {
  height: 1.5rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}
footer .footer .logo a {
  text-decoration: none;
  color: whitesmoke;
}
footer .footer .logo a:hover {
  opacity: 0.75;
}
footer .copyright {
  height: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  footer .footer {
    width: 100%;
  }
}
@media (max-width: 350px) {
  footer .footer .logo {
    width: 75%;
  }
}
.about-first-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.about-first-section .about-first-section-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-first-section .about-first-section-container h2 {
  margin-bottom: 4rem;
  color: whitesmoke;
  font-size: 2rem;
}
.about-first-section .about-first-section-container .team-divs {
  display: flex;
}
.about-first-section .about-first-section-container .team-divs div {
  height: 14rem;
  width: 12rem;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-first-section .about-first-section-container .team-divs div img {
  height: 8rem;
}
.about-first-section .about-first-section-container .team-divs div a {
  text-decoration: none;
  color: #09091a;
}
.about-first-section .about-first-section-container .team-divs div a:hover {
  opacity: 0.75;
}
@media (max-width: 500px) {
  .about-first-section {
    height: 190vh;
  }
  .about-first-section .team-divs {
    flex-direction: column;
  }
}
.signup {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup div {
  background: white;
}
